 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 809px;
}

.u-section-1 .u-shape-1 {
  width: 603px;
  height: 416px;
  margin: 24px auto 0;
}

.u-section-1 .u-shape-2 {
  width: 610px;
  height: 424px;
  margin: -436px auto 0 245px;
}

.u-section-1 .u-shape-3 {
  width: 595px;
  height: 410px;
  margin: -417px auto 0 254px;
}

.u-section-1 .u-shape-4 {
  width: 588px;
  height: 405px;
  margin: -405px auto 0 261px;
}

.u-section-1 .u-shape-5 {
  width: 582px;
  height: 398px;
  margin: -398px auto 0 267px;
}

.u-section-1 .u-shape-6 {
  width: 585px;
  height: 400px;
  margin: -390px auto 0;
}

.u-section-1 .u-text-1 {
  font-family: "Chivo Mono";
  width: 552px;
  margin: -379px auto 0;
}

.u-section-1 .u-text-2 {
  font-family: "Chivo Mono";
  margin: -29px 520px 60px 564px;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    margin-right: 420px;
    margin-left: 464px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-shape-2 {
    margin-left: 110px;
  }

  .u-section-1 .u-shape-3 {
    margin-left: 125px;
  }

  .u-section-1 .u-shape-4 {
    margin-left: 132px;
  }

  .u-section-1 .u-shape-5 {
    margin-left: 138px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 310px;
    margin-left: 354px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-shape-1 {
    width: 540px;
  }

  .u-section-1 .u-shape-2 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-1 .u-shape-3 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-1 .u-shape-4 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-1 .u-shape-5 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-1 .u-shape-6 {
    width: 540px;
  }

  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 220px;
    margin-left: 264px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-shape-1 {
    width: 340px;
  }

  .u-section-1 .u-shape-2 {
    width: 340px;
  }

  .u-section-1 .u-shape-3 {
    width: 340px;
  }

  .u-section-1 .u-shape-4 {
    width: 340px;
  }

  .u-section-1 .u-shape-5 {
    width: 340px;
  }

  .u-section-1 .u-shape-6 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 120px;
    margin-left: 164px;
  }
}